*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
}

.left{
    width: 25%;
}

.right{
    width: 70%;
}
